@namespace OpenEugene.Theme.LittleHelpBook
@using Oqtane.Shared
@using Oqtane.Themes
@using Oqtane.Themes.Controls
@using Oqtane.UI
@inherits ThemeBase

<MudThemeProvider IsDarkMode=true />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6">Little Help Book</MudText>
        <MudSpacer />
        <div class="controls-group"><UserProfile /> <Login /> <ControlPanel /></div>
    </MudAppBar>
    <MudDrawer Open="true">
        <MudNavLink Icon="@MudBlazor.Icons.Material.Outlined.Home" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavLink Icon="@MudBlazor.Icons.Material.Outlined.VolunteerActivism" Href="/providers">Providers</MudNavLink>
        <MudNavLink Icon="@MudBlazor.Icons.Material.Outlined.QuestionMark" Href="/faq">Faq</MudNavLink>
    </MudDrawer>
    <MudMainContent>
        <MudContainer id="content" Class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="@PaneNames.Admin" />
                    </div>
                </div>
            </div>
            <Pane Name="Top Full Width" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="Top 100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <Pane Name="Left 50%" />
                    </div>
                    <div class="col-md-6">
                        <Pane Name="Right 50%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <Pane Name="Left 33%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Center 33%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Right 33%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <Pane Name="Left Outer 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Left Inner 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right Inner 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right Outer 25%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <Pane Name="Left 25%" />
                    </div>
                    <div class="col-md-6">
                        <Pane Name="Center 50%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right 25%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <Pane Name="Left Sidebar 66%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Right Sidebar 33%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <Pane Name="Left Sidebar 33%" />
                    </div>
                    <div class="col-md-8">
                        <Pane Name="Right Sidebar 66%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="Bottom 100%" />
                    </div>
                </div>
            </div>
            <Pane Name="Bottom Full Width" />
        </MudContainer>
    </MudMainContent>
</MudLayout>


